td {
	border: 2px solid;
	width: 160px;
	height: 160px;
	text-align: center;
	font-size: 150px;
	line-height: 1em;
}

table {
	border: 2px solid;
	border-collapse: collapse;
}

div {
	font-family: sans-serif;
}